body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

img {
  width: 100%;
}

.register-img {
  width: 85% !important;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none !important;
}

::placeholder {
  color: #b3b3b3 !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.half,
.half .container>.row {
  height: 100vh;
}

.main-hidden {
  display: none;
}

.mobile-hidden {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .half .bg {
    height: 500px;
  }

  .mobile-hidden {
    display: none;
  }

  .main-hidden {
    display: block;
  }

  .mobile-row {
    height: 66vh !important;
  }

  .col-sm-6 {
    width: 50%;
  }

  .or::after {
    width: 220px !important;
  }

  .or::before {
    width: 220px !important;
  }
}

@media screen and (max-width: 600px) {
  .half .bg {
    height: 500px;
  }

  .mobile-hidden {
    display: none;
  }

  .main-hidden {
    display: block;
  }

  .mobile-row {
    height: 90vh !important;
  }

  .or::after {
    width: 150px !important;
  }

  .or::before {
    width: 150px !important;
  }
}

.half .contents,
.half .bg {
  width: 50%;
}

@media (max-width: 1199.98px) {

  .half .contents,
  .half .bg {
    width: 100%;
  }
}

.input {
  padding: 25px 20px;
}

.img {
  animation-name: img;
  animation-timing-function: 5s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes img {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  60% {
    transform: translate(45px);
  }

  100% {
    transform: scale(1);
  }
}

.half .contents .form-group label,
.half .bg .form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 0;
  color: #000;
}

.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.half .bg {
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
  text-decoration: underline;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
  color: #007bff;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ccc;
}

.control input:checked~.control__indicator {
  background: #007bff;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #1a88ff;
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.control input:checked~.control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-text {
  font-size: 24px;
}

.link {
  padding: 15px 20px;
  text-align: center;
  color: white !important;
  text-decoration: none !important;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
}
.dark-btn{
  background-color: black;
}

.link-sign-up:hover {
  box-shadow: 8px 10px 15px #000;
  letter-spacing: 2px;
}

.link-home{
  background-color: #000;
}

.link-home:hover {
  box-shadow: 8px 10px 15px #000;
  letter-spacing: 2px;
}

.or {
  position: relative;
}

.or::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 170px;
  height: 3px;
  background-color: black;
}

.or::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 170px;
  height: 3px;
  background-color: black;
}

/* .sign-in{
  position: relative;
  margin-bottom: 40px;
}
.sign-in::after{
  content: "";
  position: absolute;
  width: 50px ;
  background-color: black;
  height: 2px;
  bottom: -24px;
  left: 0;
} */


#preloader {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #39b49a;
  z-index: 11000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  width: 350px;
}